
@{
    ViewBag.Title = "Lax and Strict";
}

<h2>Lax and Strict</h2>
<h4>Cookie is set. F12 shows the cookie is included into the request to this page<br/>
<pre>Cookie: samesite_LaxAndStrict=value</pre>
</h4>
<h4>
    Now, <a href="https://DiffSiteCookie.azurewebsites.net/LaxAndStrict/StepOnDiffSite?ReturnUrl=@ViewBag.CurrentUrl">go to another site</a>
</h4>
