
@{
    ViewBag.Title = "Lax and Strict";
}

<h2>Lax and Strict</h2>

<h4>You are back on the original site</h4>
@if (ViewBag.CookieExists ?? true)
{
    <h4>Cookie @ViewBag.CookieName exists in the request to this page.</h4>
}
else
{
    <h4>Cookie @ViewBag.CookieName does not exist in the request to this page.</h4>
}

<hr />
<h4>Next step:</h4>
<ul>
    <li><h4>Refresh and observe if the cookie comes out again in the request or not.</h4></li>
    <li><h4>Then, press Enter to the URL in the address bar and observe if the cookie comes out again in the request or not.</h4></li>
</ul>


