
@{
    ViewBag.Title = "Lax and Strict";
}

<h2>Lax and Strict</h2>
<h4>You are now on another site</h4>
<h4>
    <a href="@ViewBag.ReturnUrl">Go back to the original site</a>
</h4>
<br/>
<h4>If 'Lax', cookie will exist in the next request.</h4>
<h4>If 'Strict', cookie will not exist in the next request.</h4>
<h4>Use F12 to observe it.</h4>